
body {
   margin: 1em;
}

.btn:focus {
   outline: none !important;
   box-shadow: none !important;
}

#sorter input {
   margin: 0px 2px;
}

div.checkbox {
   cursor: pointer;
   margin: 0px 4px;
   display: inline-flex;
   align-items: center;
}

div.checkbox {
   opacity: 0.4;
}

div.checkbox.checked {
   opacity: 1.0;
}

div#footer {
   margin-top: 2em;
}
